<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Cuenta</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Cuenta</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container-alt">
        <img src="assets/img/user.png" style="width:128px;">
        <h1>Nombre de Usuario</h1>

        <ion-item>
            <ion-button [routerLink]="'/cuenta/editar'" size="medium">
                <ion-icon slot="start" name="create"></ion-icon>
                Editar Cuenta
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-button [routerLink]="'/cuenta/wishlist'" size="medium">
                <ion-icon slot="start" name="heart"></ion-icon>
                Listas de Deseados
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-button [routerLink]="'/cuenta/historial'" size="medium">
                <ion-icon slot="start" name="cart"></ion-icon>
                Historial de Compras
            </ion-button>
        </ion-item>
    </div>
    
</ion-content>
