<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Cuenta</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Cuenta</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <div id="container-alt">
        <div *ngIf="loading" class="spinner-container">
            <ion-spinner name="circular"></ion-spinner>
        </div>
        <div *ngIf="!loading">
            <img style="width:128px;" [src]="imageSrc" alt="Profile Picture" />
        </div>
        <h1>James</h1>
        
        <h5><b>Cuenta</b></h5>
        <ion-list>
            <ion-item>
                <ion-button class="boton-azul" [routerLink]="'/cuenta/editar'" size="medium">
                    <ion-icon slot="start" name="create"></ion-icon>
                    Editar Cuenta
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-button class="boton-azul" [routerLink]="'/cuenta/wishlist'" size="medium">
                    <ion-icon slot="start" name="heart"></ion-icon>
                    Lista de Deseados
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-button class="boton-azul" [routerLink]="'/cuenta/historial'" size="medium">
                    <ion-icon slot="start" name="cart"></ion-icon>
                    Historial de Compras
                </ion-button>
            </ion-item>
        </ion-list>
        
        <h5><b>Privacidad</b></h5>
        <ion-list>
            <ion-item>
                <ion-button class="boton-azul" [routerLink]="'/cuenta/password-cambio'" size="medium">
                    <ion-icon slot="start" name="person"></ion-icon>
                    Cambiar Contraseña
                </ion-button>
            </ion-item>
        </ion-list>
        
        <h5><b>Admin</b></h5>
        <p style="font-size: 12px; color:rgb(84, 125, 201)">Esto se debe mostrar solo si el usuario es admin,
            <br>pero como no es funcional todavía, se muestra siempre</p>
            
            <ion-list>
                <ion-item>
                    <ion-button class="boton-azul" [routerLink]="'/admin/add-ropa'" size="medium">
                        <ion-icon slot="start" name="add"></ion-icon>
                        Añadir Producto
                    </ion-button>
                </ion-item>
            </ion-list>
        </div>
        
    </ion-content>
    