<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Editar Cuenta</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">editar</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container-alt">
        <img src="assets/img/user.png" style="width:128px;">
        <br>
        <ion-button class="boton-azul" size="small">Cambiar Foto</ion-button>

        <ion-item>
            <ion-input [(ngModel)]="nombre" value="James" label="Nombre de Usuario" labelPlacement="stacked" placeholder="Editar nombre..."></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="correo" value="james@72seasons.com" label="Correo" labelPlacement="stacked" placeholder="Cambiar correo..."></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="validarEditar()" class="boton-azul" size="large">Guardar Cambios</ion-button>
    </div>
</ion-content>
