<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>Añadir Producto</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
      <ion-toolbar>
          <ion-title size="large">Añadir Producto</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <div class="form-centrada">
      <ion-item>
          <ion-input [(ngModel)]="producto.pr_imagen" label="Imagen" labelPlacement="stacked" placeholder="Ingrese URL/Dirección de imagen..."></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="producto.pr_nombre" label="Nombre" labelPlacement="stacked" placeholder="Ingrese nombre..."></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="producto.pr_tipo" label="Tipo" labelPlacement="stacked" placeholder="Ingrese tipo..."></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="producto.pr_marca" label="Marca" labelPlacement="stacked" placeholder="Ingrese marca..."></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="producto.pr_precio" label="Precio" type="number" labelPlacement="stacked" placeholder="Ingrese precio sin comas ni simbolos..."></ion-input>
      </ion-item>
      <br>
      
      <ion-button (click)="validarProducto()" class="boton-azul" size="large">Añadir Producto</ion-button>
      <ion-button [routerLink]="['/home']" class="boton-azul" size="large">Ir a Catalogo</ion-button>
  </div>
</ion-content>
