<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Historial de Compras</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Historial</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <div id="container-alt">
        <div *ngIf="!loading">
            <div *ngIf="historial.length > 0">
                <ion-row *ngFor="let x of historial">
                    <ion-col>
                        <ion-item class="producto">
                            <ion-button fill="clear" (click)="irProducto(x)">
                                <img slot="start" src="{{x.pr_imagen}}">
                            </ion-button>
                            <ion-label class="ion-padding-horizontal">
                                <h2>{{x.pr_nombre}}</h2>
                                <h3>{{x.pr_marca}}</h3>
                                <p>{{x.pr_tipo}} | ${{x.pr_precio}}</p>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>
            
            <div *ngIf="historial.length === 0">
                <h2>No tienes elementos en tu historial.</h2>
                <ion-button [routerLink]="['/home']" class="boton-azul" size="large">Ir a Catalogo</ion-button>
            </div>
        </div>
    </div>
    
</ion-content>
