<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{producto.pr_tipo}}: {{producto.pr_nombre}}</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
    <div id="container-alt">
        <img style="width: 256px;" src="{{producto.pr_imagen}}">
        
        <ion-item class="producto ion-text-center">
            <ion-label class="ion-padding-horizontal">
                <h1>{{producto.pr_nombre}}</h1>
                <h3>{{producto.pr_marca}}</h3>
                <p>{{producto.pr_tipo}} | ${{producto.pr_precio}}</p>
            </ion-label>
        </ion-item>

        <ion-button (click)="addToCarrito(producto.pr_id)" class="boton-azul" size="large">Añadir al Carrito</ion-button>
        
        <h5><b>Admin</b></h5>
        <p style="font-size: 12px; color:rgb(84, 125, 201)">Esto se debe mostrar solo si el usuario es admin,
        <br>pero como no es funcional todavía, se muestra siempre</p>
        
        <ion-list>
            <ion-item>
                <ion-button class="boton-azul" size="medium" (click)="modificar()">
                    <ion-icon slot="start" name="create"></ion-icon>
                    Editar Producto
                </ion-button>
            </ion-item>
            <ion-item>
                    <ion-buttons>
                        <ion-button style="background-color: red;" size="medium" (click)="eliminar()">
                            <ion-icon style="color: white;" slot="start" name="close"></ion-icon>
                            Eliminar Producto
                        </ion-button>
                    </ion-buttons>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
