<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{producto.pr_tipo}}: {{producto.pr_nombre}}</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
    <div id="container-alt">
        <img style="width: 256px;" src="{{producto.pr_imagen}}">
        
        <ion-item class="producto ion-text-center">
            <ion-label class="ion-padding-horizontal">
                <h1>{{producto.pr_nombre}}</h1>
                <h3>{{producto.pr_marca}}</h3>
                <p>{{producto.pr_tipo}} | ${{producto.pr_precio}}</p>
            </ion-label>
        </ion-item>
        
        <div *ngIf="bd.user_logged">
            <ion-button (click)="addToCarrito(producto.pr_id)" class="boton-azul" size="medium">
                <ion-icon name="cart" slot="end"></ion-icon>
                Añadir al Carrito
            </ion-button>
            
            <div *ngIf="!enWishlist">
                <ion-button (click)="addToWishlist(producto.pr_id)" class="boton-azul" size="medium">
                    <ion-icon name="heart" slot="end"></ion-icon>
                    Añadir a Lista de Deseados
                </ion-button>
            </div>
            <div *ngIf="enWishlist">
                <ion-button (click)="removerDeWishlist(producto.pr_id)" class="boton-azul" size="medium">
                    <ion-icon name="heart-dislike" slot="end"></ion-icon>
                    Quitar de Lista de Deseados
                </ion-button>
            </div>
        </div>
        <div *ngIf="!bd.user_logged">
            <ion-item>
                Inicia Sesion o Crea una cuenta para poder comprar productos y/o ponerlos en tu lista de deseados.
            </ion-item>
        </div>
        
        <div *ngIf="usuarioActual?.user_tipo == 2">
            <h5><b>Admin</b></h5>
            <ion-list>
                <ion-item>
                    <ion-button class="boton-azul" size="medium" (click)="modificar()">
                        <ion-icon slot="start" name="create"></ion-icon>
                        Editar Producto
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-buttons>
                        <ion-button style="background-color: red;" size="medium" (click)="eliminar()">
                            <ion-icon style="color: white;" slot="start" name="close"></ion-icon>
                            Eliminar Producto
                        </ion-button>
                    </ion-buttons>
                </ion-item>
            </ion-list>
        </div>
    </div>
    
</ion-content>
