<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Registrar</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Registrar</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <div class="form-centrada">
        <ion-item>
            <ion-input label="Nombre de Usuario" labelPlacement="stacked" placeholder="Ingrese nombre..."></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Email" type="email" labelPlacement="stacked" placeholder="Ingrese correo..."></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Contraseña" type="password" labelPlacement="stacked" placeholder="Ingrese contraseña..."></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-input label="Confirmar Contraseña" type="password" labelPlacement="stacked" placeholder="Confirme su contraseña..."></ion-input>
        </ion-item>
        <br>
        <ion-button size="large">Registrar</ion-button>
    </div>

</ion-content>
