<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Recuperar Contraseña</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">password-recuperar</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="form-centrada">
        <ion-item>
            <ion-input [(ngModel)]="email" label="Email" type="email" labelPlacement="stacked" placeholder="Ingrese correo..."></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="pass1" label="Contraseña" type="password" labelPlacement="stacked" placeholder="Ingrese nueva contraseña..."></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="pass2" label="Confirmar Contraseña" type="password" labelPlacement="stacked" placeholder="Confirme su nueva contraseña..."></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="validarPassword()" class="boton-azul" size="large">Recuperar Contraseña</ion-button>
    </div>
</ion-content>
