#container {
    text-align: center;
    max-width: 1000px;
    
    top: 5%;
}

ion-searchbar.custom {
    --background: rgb(17, 44, 71);
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
}