<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>404 Not Found</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Not Found</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>No se ha encontrado la pagina deseada.</strong><br>
        <ion-button class="boton-azul" [routerLink]="'/home'">
            <ion-icon slot="end" name="home"></ion-icon>
            Volver al Home
        </ion-button>
    </div>
</ion-content>
